/* Input Form */
.input-mint:focus {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(151, 248, 228, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(151, 248, 228, 1);
    box-shadow: 0px 0px 5px 5px rgba(151, 248, 228, 1);
    border-color: #97f8e4;
}

/* Btn dan Bacground */
.bg-green-mint {
    background-color: #97f8e4;
    color: #000;
}

.order-filter {
    border: none;
}

.color-mint {
    color: #97f8e4;
}

.order-filter:hover {
    background-color: #7ccfbf;
    color: #fff;
}

.btn-active {
    background-color: #7ccfbf;
    color: #fff;
}

.btn-mint {
    background-color: #97f8e4;
    color: #000;
    font-weight: 500;
}

.btn-mint:hover {
    background-color: #7ccfbf;
    color: #000;
    font-weight: 500;
}

/* Nav tabs */
.nav-tabs .nav-link {
    color: #000;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    background-color: #f2f2f2 !important;
}

.nav-tabs .nav-link.active {
    background-color: #f2f2f2 !important;
}
