:root {
    --orange-main: #e85d25;
    --green-mint: #97f8e4;
    --mint-hover: #7ccfbf;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Section */
section {
    background-color: #fff;
}

/* Jumbotron */
section.jumbotron {
    background-image: url("../images/bg-jumbotron.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 800px 100%;
    background-color: #fff;
}

/* Skill Section */
.skill-body .no {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.skill-body .set {
    font-weight: 700;
}
/* End Skill Section */

section#goal .goal-body {
    box-sizing: border-box;
}

/* Course Section */
section#course {
    background-color: #97f8e4;
    height: 650px;
}

.course-content {
    height: 400px;
    background-color: #fff;
}
/* End Course Section */

/* Testimoni Section */
section#testimoni {
    height: 500px;
}

section#testimoni h3 {
    font-size: 36px;
    margin-bottom: 60px;
}

.img-testi {
    width: 140px;
    margin-bottom: 20px;
}
/* End Testimoni Section */

/* Team Section */
.team-text {
    font-size: 22px;
    font-weight: 600;
}
/* End Team Section */
